* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: burlywood;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.para {
  color: lightgray;
  width: 500px;
  height: 600px;
}
